<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=10;IE=9;IE=8;IE=7;IE=EDGE">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="shortcut icon" href="./src/assets/images/favicon.ico" type="image/x-icon">
    <!--<title>{%=o.htmlWebpackPlugin.options.title || 'Webpack App'%}</title>-->
    <title>登录</title>
    <!--{% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}-->
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet"> {% } %}
    <script src="./src/lib/jquery-1.8.3.min.js"></script>
    <script>
        /*IE8兼容start*/
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function(item, i) {
                //alert("prototyping...");
                i || (i = 0);
                var length = this.length;
                if (i < 0) i = length + i;
                for (; i < length; i++)
                    if (this[i] === item) return i;
                return -1;
            };
        }
        if (!window.WebSocket) {
            window.WebSocket = function() {};
            window.WebSocket.prototype = {
                onmessage: function() {},
                onclose: function() {},
                onopen: function() {},
                close: function() {}
            }
        }
        /*IE8兼容end*/
        if (!String.prototype.trim) {
            String.prototype.trim = function() {
                return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
            }
        }
    </script>
    <script>
        // 子职位 悬浮菜单
        function SubLayer2(data) {
            var output = '',
                width;
            var arr = data.split(",");
            var len = 0;
            for (var i = 0; i < arr.length; i++) {
                output += '<li onclick="Chk2(\'' + arr[i] + '\')">' + arr[i] + '</a></li>';
                len++;
            }
            width = len > 10 ? 440 : 220;
            output = '<div id="sub_funtype"><ul style="width:' + width + 'px">' + output + '</ul></div>';
            $("#sublist").html(output).show();
        }


        function Chk2(data) {
            var tag = '';
            tag = '<div class="tag">' + data + '<i> × </i></div>';
            $(".tags").each(function() {
                if ($(this).attr("isMe")) {
                    $(this).append(tag);
                    $(this).attr("isMe", "");
                }
            });
            $(".tag").find("i").on("click", function() {
                $(this).parent().remove();
            });
            $("#sublist").empty().hide();
            $('#maskLayer').hide();
            return false;
        }
    </script>
</head>

<body>
    <div ms-controller="app" class="container_body">
        <input value="11" type="hidden" id="userinfoType" />
        <input value="222" type="hidden" id="userinfoId" />
        <input value="333" type="hidden" id="userinfoshortId" />
        <div ms-view="" class="container_body"></div>
    </div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
</body>

</html>