body {
    font-family: "Microsoft YaHei UI";
    background: #f0f0f2;
}

html,
body,
#content_wrapper,
.container_body {
    height: 100%;
    overflow: hidden;
}

label {
    margin-bottom: 0px;
}

#menu {
    width: 240px;
    height: 100%;
    background: #2d3947;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.f12 {
    font-size: 12px;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.ver-middle * {
    vertical-align: middle;
}

.cr9 {
    color: #999999;
}

.cr6 {
    color: #666666;
}

button {
    font-family: "Microsoft YaHei UI";
    padding: 0;
    cursor: pointer;
}

.button1,
.select-warp .button1 {
    color: #2b76d1 !important;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 14px!important;
    height: 28px!important;
    line-height: 28px!important;
    font-weight: 700;
}

.button2,
.select-warp .button2 {
    border: 1px solid #2b76d1;
    background: transparent;
    color: #2b76d1;
    border-radius: 5px;
    width: 80px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
}

.button3,
.select-warp .button3 {
    border: 1px solid #2b76d1;
    background: #2b76d1;
    color: #ffffff;
    border-radius: 5px;
    width: 80px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
}

.button4,
.select-warp .button4 {
    border: 1px solid #b5b5b5 !important;
    color: #666666;
    background: transparent;
    border-radius: 5px;
    padding: 2px 10px;
    cursor: pointer;
}

.logo-head {
    height: 74px;
    line-height: 74px;
    text-align: center;
    background: #2b76d1;
}

.charts-wrapper {
    background: #ffffff;
    min-height: 100px;
    margin-top: 20px;
}

.charts-desc {
    background: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    height: 150px;
    width: 97%;
    position: relative;
    /*display: none;*/
}

.add-desc {
    display: table;
    text-align: center;
    width: 100%;
}

.add-desc-btn {
    display: table-cell;
    vertical-align: middle;
}

.charts-content {
    width: 100%;
    text-align: center;
}

.report_tab {
    display: none;
}

.analysis-items {
    margin-left: -10px;
    margin-bottom: 20px;
}

.analysis-items-warp {
    border-left: 1px solid #ebebeb;
    /*display: none;*/
}

.data_disturb {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    display: none;
}

.edit_desc_input {
    width: 200px;
}

.text-area {
    width: 100%;
    height: 200px;
}

#loading_layer {
    visibility: visible;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(41, 41, 41);
    -khtml-opacity: 0.38;
    -moz-opacity: 0.38;
    filter: alpha(opacity=38);
    filter: "alpha(opacity=38)";
    opacity: 0.38;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=38);
    z-index: 10000;
}

;
#loading_layer .loading_layer_body {
    position: fixed;
    top: 40%;
    left: 50%;
    background-color: #fff;
    width: 127px;
    height: 73px;
    margin: -5px 0 0 -32px;
    border: 1px solid #999;
    border-radius: 6px;
    text-align: center;
    line-height: 73px;
}

.control-group-charts {
    background: #f1f1f1;
    padding: 20px;
}